.header-container {
    width: 100%;
    background-color: #0a0811;
    height: 100%;
    justify-content: center;
}



#mySelect {
    color: white;
    background-color: rgb(24, 23, 23) !important;
    border: none;
    width: 100px;
    border-radius: 5px !important;
    font-size: 18px;
    font-weight: bold;
    padding: 5px; 
}

#mySelect option {
    color: white;
    background-color: rgb(24, 23, 23) !important;
    border: none;
    padding: 10px; 
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.time-zone{
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}

.dd{
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 13px;
}